[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

[mysqld]
innodb_buffer_pool_size = 512M
innodb_log_file_size = 256M

[mysqld]
bind-address = 0.0.0.0

[mysqld]
skip-networking=0

